*.o
*dSYM

# Autotools cruft (NEVER check this into VCS)
Makefile
Makefile.in
.version
aclocal.m4
.deps/
.dirstamp
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
py-compile
ar-lib
shorah

# generated tarball
shorah*.tar.bz2

# executables
b2w
diri_sampler
fil

# samtools lib
libbam.a

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# OS X temporary files that should never be committed
.DS_Store
*.swp
*.lock
profile

# other intermediate stuff
build
.eggs
src/ShoRAH.egg-info/

# shorah output
shorah.log
